<!-- DONE -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script> -->
    <!-- <h1>
        <center class="cen">
            Crime Control And Mangment
        </center>
    </h1> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }} ">
    <title>{{ title }}</title>
</head>
<style>
    .cen {
        color: burlywood;
    }
    
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 120px;
        margin: auto;
        position: absolute;
        background-color: #2c3e50;
    }
    
    .menu li {
        float: left;
        width: 25%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    .menu a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: relative;
        font-size: 18px;
        z-index: 9;
    }
</style>
<!-- 
<body>
    <ul class="menu">
        <li><a href="http://127.0.0.1:5000/">Home</a></li>
        <li><a href="http://127.0.0.1:5000/manage">Manage</a></li>
        <li><a href="http://127.0.0.1:5000/view">View</a></li>
        <li><a href="http://127.0.0.1:5000/aboutus">About</a></li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html> -->
<!-- Navbar html -->
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{{url_for('home')}}">Crime Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('about') }}">Important Info</a> {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="http://127.0.0.1:5000/manage">Manage</a>
                    <a class="nav-item nav-link" href="{{url_for('view')}}">View</a> {% endif %}

                </div>

                <!-- Navbar Right Side -->
                {% if current_user.is_authenticated %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout </a>
                </div>
                {% else %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
                </div>

                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, msg in messages %}
            <div class="alert alert-{{ category }}">
                <!-- i.e success or failure etc-->
                {{ msg }}
            </div>
            {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}

        </div>
        <!-- <div class="col-md-4">
                          <div class="content-section">
                            <h3>Our Sidebar</h3>
                            <p class='text-muted'>You can put any information here you'd like.
                              <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Latest Posts</li>
                                <li class="list-group-item list-group-item-light">Announcements</li>
                                <li class="list-group-item list-group-item-light">Calendars</li>
                                <li class="list-group-item list-group-item-light">etc</li>
                              </ul>
                            </p>
                          </div>
                        </div> -->
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>