{% extends "layout.html" %}
{% from "render_macro.html" import details %}

<!-- 
    ''' This can also be done!! '''

    {% macro details(field) %}
    {{ field.label(class="form-control-label") }}
                        
    {% if field.errors %}
        {{ field(class="form-control  form-control-lg  is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                <span> {{ error }} </span>
            {% endfor %}
        </div>
    {% else %}
        {{ field(class="form-control form-control-lg") }}
    {% endif %}
{% endmacro %}

-->

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}   <!-- for ""cross-site-request-forgery"" token Verification -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Now</legend>    <!-- Heading --> 
                
                <div class="form-group">
                    {{ details(form.email) }}  
                </div>

                <div class="form-group">
                    {{ details(form.password) }}
                </div>

                <div class="form-group">
                    {{ details(form.confirm_password) }}
                </div>

                <div class="form-group">
                    {{ details(form.admin_password) }}
                </div>
                
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

    
{% endblock content %}